<% if @workout.plans.any? %>
  <% @workout.plans.each do |plan| %>
    <div class="border border-gray-300 rounded-lg overflow-hidden">
      <div class="grid md:grid-cols-4 items-center">
        <div class="md:col-span-1">
          <% if plan.exercise.featured_image.attached? %>
            <%= image_tag plan.exercise.featured_image, alt: plan.exercise.name, class: "w-full h-[200px] object-cover rounded" %>
          <% else %>
            <img src="https://placehold.co/600x400/f97316/FFFFFF/png?text=<%= plan.exercise.name %>" alt="<%= plan.exercise.name %>" class="w-full h-[200px] object-cover rounded">
          <% end %>
        </div>
        <div class="p-6 md:col-span-3">
          <div class="flex flex-wrap justify-between items-start gap-4">
            <div>
              <h3 class="text-xl font-bold"><%= plan.exercise.name %></h3>
              <div class="mt-2 grid grid-cols-3 gap-4">
                <div>
                  <p class="text-sm text-gray-500">Sets</p>
                  <p class="font-medium"><%= plan.sets %></p>
                </div>
                <% if !plan.is_time_based? %>
                  <div>
                    <p class="text-sm text-gray-500">Reps</p>
                    <p class="font-medium"><%= plan.reps %></p>
                  </div>
                <% end %>

                <% if plan.is_time_based? %>
                  <div>
                    <p class="text-sm text-gray-500">Duration</p>
                    <p class="font-medium"><%= plan.duration_time %> sec.</p>
                  </div>
                <% end %>
                <div>
                  <p class="text-sm text-gray-500">Rest</p>
                  <p class="font-medium"><%= plan.rest %> sec.</p>
                </div>
              </div>
            </div>
            <%= link_to "View Exercise", exercise_path(plan.exercise, plan_id: plan.id), class: "inline-flex items-center justify-center rounded-md border border-gray-200 px-4 py-2 text-sm font-medium" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>