  <!-- Exercise Parameters -->
  <div class="pt-6 border-t border-gray-100">
    <h3 class="text-lg font-medium mb-4">Default Exercise Parameters</h3>
    
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="space-y-2">
        <%= form.label :sets, "Default Sets *", class: "text-sm font-medium" %>
        <%= form.number_field :sets, class: "w-full rounded-md border border-gray-200 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", only_integer: true, min: 1, max: 10, value: @exercise.sets || 3 %>
      </div>
      <div class="space-y-2">
          <%= form.label :reps, "Default Reps", class: "text-sm font-medium" %>
          <%= form.number_field :reps, class: "w-full rounded-md border border-gray-200 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", only_integer: true, min: 1, max: 30, value: @exercise.reps || 10 %>
      </div>
      <div class="space-y-2">
          <%= form.label :duration_time, "Duration Time (sec)", class: "text-sm font-medium" %>
          <%= form.number_field :duration_time, class: "w-full rounded-md border border-gray-200 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", only_integer: true, min: 0, max: 300, value: @exercise.duration_time || 0 %>
      </div>
      <div class="space-y-2">
          <%= form.label :rest, "Rest time (sec) *", class: "text-sm font-medium" %>
          <%= form.number_field :rest, class: "w-full rounded-md border border-gray-200 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", only_integer: true, min: 0, max: 180, value: @exercise.rest || 30 %>
      </div>
    </div>
    <div class="mt-4 space-y-2">
      <label class="text-sm font-medium">Exercise Type</label>
      <div class="flex space-x-4 mt-2">
        <div class="flex items-center">
          <%= form.check_box :is_time_based, class: "h-4 w-4 border-gray-300 text-orange-500 focus:ring-orange-500" %>
          <%= form.label :is_time_based, "Time-based Exercise (Don't forget to set the duration time!)", class: "ml-2 text-sm" %>
        </div>
      </div>
    </div>
  </div>
  <!-- END Exercise Parameters -->