<div class="container mx-auto px-4 py-8 md:px-6 md:py-12">
  <%= link_to exercises_path, class: "inline-flex items-center text-sm font-medium text-orange-500 hover:underline mb-6" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 h-4 w-4">
      <path d="m15 18-6-6 6-6"></path>
    </svg>
    Back to Exercises
  <% end %>
  <div class="grid gap-8 md:grid-cols-2">

    <%= render "featured_image" %>

    <div class="space-y-6">
      <div>
        <h1 class="text-3xl font-bold"><%= @exercise.name %></h1>
        <div class="mt-2 text-gray-500">
          <%= @exercise.description %>
        </div>
        <%= link_to "Edit Exercise", edit_exercise_path(@exercise), class: "inline-flex items-center text-sm font-medium text-orange-500 hover:underline mb-6" %>
      </div>

      <%#= render "timing" %>

      <%= render "buttons" %>

      <div>
        <h2 class="text-xl font-bold mb-2">Instructions</h2>
        <div><%= @exercise.instructions %></div>
      </div>
    </div>
  </div>

  <div class="mt-12 grid gap-8 md:grid-cols-2">
    <div>
      <h2 class="text-xl font-bold mb-4">Tips</h2>
      <div><%= @exercise.tips %></div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-4">Precautions</h2>
      <div><%= @exercise.precautions %></div>
    </div>
  </div>

  <% if @exercise.video_link.present? %>
    <%= render "video_card" %>
  <% end %>

</div>
